.contact-form {
  width: 100%;
  margin-top: 20px;

  ul {
    padding: 0;
    margin: 0;

    li {
      padding: 0;
      margin: 0;
      list-style: none;
      margin-bottom: 10px;
      overflow: hidden;
      display: block;
      position: relative;
      opacity: 0;
      animation: fadeInUp 2s 2s;
      animation-fill-mode: forwards;
      //dopo l'animazione rimane visibile
      clear: both;

      &:nth-of-type(1) {
        animation: fadeInLeft 2s 2s;
        animation-fill-mode: forwards;
      }
      &:nth-of-type(2) {
        animation: fadeInRight 2s 2s;
        animation-fill-mode: forwards;
      }
    }

    li.half {
      width: 49%;
      margin-left: 2%;
      float: left;
      clear: none;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  input[type='text'],
  input[type='email'] {
    width: 100%;
    border: 0;
    background: #115173;
    height: 50px;
    font-size: 16px;
    color: #fff;
    padding: 0 20px;
    box-sizing: border-box;
  }

  textarea {
    width: 100%;
    border: 0;
    background: #115173;
    height: 50px;
    font-size: 16px;
    color: #fff;
    padding: 20px;
    min-height: 150px;
    box-sizing: border-box;
  }

  .flat-button {
    color: #ffd700;
    background: 0 0;
    font: 11px;
    letter-spacing: 3px;
    display: block;
    margin: auto;
    width: 85%;
    padding: 15px;
    border: 1px solid #ffd700;
    border-radius: 4px;
    transition: all 0.3s;

    &:hover {
      transform: scale(1.03);
      box-shadow: rgba(70, 168, 21, 0.35) 0px 5px 15px;
    }
  }
}
